uvicorn
fastapi
python-jobspy
gensim
pypdf
pypdf2
python-multipart
google-generativeai
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
nltk
scikit-learn
sentence-transformers
gunicorn